.body_backgorund 
{
    background-image:url('hOye.gif');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}
#myCanvas
{
boder-width: 10px;
background-color:whitesmoke
border style :aqua ridge
border color :blueviolet 




    
}

